<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<he>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        <form action="" method="post">
            <table>
                <tr>
                    <th>username</th>
                    <td><input type="text" name="username"required></td>
                    <th>password</th>
                    <td><input type="password" name="passw"required></td>

                </tr>
                <tr>
                    <td><input type="submit" name="submit" required></td>
                </tr>
            </table>
        </form>
        
    </h2>
</body>
</html>